.sobre_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.sobre_img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
}
.sobre_info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}
.sobre_box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}
.sobre_icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}
.sobre_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.sobre_subtitle {
  font-size: var(--tiny-for);
}
.sobre_description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .sobre_container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .sobre_img {
    width: 220px;
  }
  .sobre_box {
    padding: 0.75rem 0.5rem;
  }
  .sobre_data {
    text-align: center;
  }
  .sobre_info {
    justify-content: center;
  }
  .sobre_description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 576px) {
  .sobre_info {
    grid-template-columns: repeat(3, 1fr);
  }
  .sobre_description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
      .sobre_info {
        grid-template-columns: repeat(2, 1fr);
      } 
  }